body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: linear-gradient(
      to right bottom,
      rgb(250, 251, 252),
      rgb(244, 245, 247)
    )
    left top no-repeat;
}
